html {
  color: white;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.full-height {
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.facts-container {
  height: 100%;
  width: 20rem;
  text-align: center;
}

.facts-container img {
  padding-top: 30%;
}

a {
  color: white;
}

a:hover {
  text-decoration: underline;
}

.no-decoration {
  text-decoration: none;
}

#footer {
  margin-top: 1rem;
}

.chelsea-market {
  font-family: 'Chelsea Market', cursive;
}