{% extends 'layout.html' %}
{% block title %}Random Cat Facts{% endblock %}
{% block content %}
<h1 class="chelsea-market">Random Cat Facts</h1>
<p id="cat-fact" class="chelsea-market"></p>
<button id="next-button" class="pure-button pure-button-primary" onclick="fetchCatFact()">Next</button>
<footer id="footer"></footer>
{% endblock %}

{% block script %}
<script>
  const baseURL = window.location.href
  const catFactP = document.getElementById("cat-fact")
  const nextButton = document.getElementById("next-button")
  const footer = document.getElementById("footer")

  footer.innerHTML = `© ${new Date().getFullYear()} <a href="https://github.com/vyonizr/flask-cat-facts" target="_blank" rel="noopener">vyonizr</a><br><a href="https://github.com/alexwohlbruck/cat-facts" target="_blank" rel="noopener">cat facts API</a> | <a href="https://purecss.io/" target="_blank" rel="noopener">Pure</a>`

  const fetchCatFact = async () => {
    try {
      catFactP.innerHTML = "Loading..."
      nextButton.classList.remove("pure-button-primary")
      nextButton.classList.add("pure-button-disabled")

      const response = await fetch(`${baseURL}api/cats/`)
      const json = await response.json()

      catFactP.innerHTML = json.text
      nextButton.classList.remove("pure-button-disabled")
      nextButton.classList.add("pure-button-primary")
    }
    catch {
      catFactP.innerHTML = "Ouch! Something went wrong. Please reload the page."
    }
  }

  fetchCatFact()
</script>
{% endblock %}