<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pure-min.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}"">
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='images/safari-pinned-tab.svg') }}" color="#5bbad5">
    <title>Random Cat Facts</title>
    <style>
      @font-face {
          font-family: 'Chelsea Market';
          src: {{ url_for('static',filename='fonts/ChelseaMarket-Regular.ttf') }};
      }
    </style>
  </head>
  <body>
    <div class="full-height">
      <div class="facts-container">
        <h1 class="chelsea-market">Random Cat Facts</h1>
        <p id="cat-fact" class="chelsea-market"></p>
        <button id="next-button" class="pure-button pure-button-primary" onclick="fetchCatFact()">Next</button>
        <footer id="footer"></footer>
      </div>
    </div>
  </body>

  <script>
    const catFactP = document.getElementById("cat-fact")
    const nextButton = document.getElementById("next-button")
    const footer = document.getElementById("footer")

    footer.innerHTML = `© ${new Date().getFullYear()} vyonizr<br><a href="https://github.com/alexwohlbruck/cat-facts" target="_blank" rel="noopener">cat facts API</a> | <a href="https://purecss.io/" target="_blank" rel="noopener">Pure</a>`

    const fetchCatFact = async () => {
      catFactP.innerHTML = "Loading..."
      nextButton.classList.remove("pure-button-primary")
      nextButton.classList.add("pure-button-disabled")

      const response = await fetch(`${window.location.href}api/cats/`)
      const json = await response.json()

      catFactP.innerHTML = json.text
      nextButton.classList.remove("pure-button-disabled")
      nextButton.classList.add("pure-button-primary")
    }

    fetchCatFact()
  </script>
</html>